/* === generic === */
:root {
  /* background colors */
  --primary-bg: #3498db;
  --accent-bg: #71CED9;
  --secondary-bg: #fff;

  /* text colors */
  --primary-text: #202020;
  --secondary-text: #505050;
  --accent-text: #fff;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

.layout {
  display: flex;
  height: 100vh;
}

/* === nav bar === */
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: var(--primary-bg);
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.headshot-img {
  width: 80%;
  border: 5px solid var(--secondary-bg);
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav li {
  /* text and font styles */
  text-align: center;
  color: var(--accent-text);
  font-size: 20px;
  font-weight: 500;
  /* layout and spacing */
  margin: 15px 0;
  /* interactive styles */
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease; /* Smooth transition */
}

.nav li.active, 
.nav li:hover {
  opacity: 1;
}

/* === generic content === */

.content {
  flex: 1;
  background-color: var(--secondary-bg);
  overflow-y: auto; /* Enable vertical scrolling */
}

.content-section {
  min-height: 100vh; /* Each section takes up at least the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid var(--secondary-text);
  padding: 0 50px;
}

.content-section h1 {
  font-size: 2.5rem;
}

/* About */

#About h1 {
  font-size: 4.5rem;
  margin: 0;
}

#About .last-name {
  color: var(--primary-bg);
}

#About h5 {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
}

#About p {
  margin: 30px 0 0 0;
  font-size: 1.1rem;
}

.social-icons {
  display: flex;
  gap: 25px;
  margin-top: 50px;
}

.social-icons .icon {
  color: var(--secondary-bg);
  font-size: 30px;
  transition: color 0.3s ease;
}

.social-icons a {
  background-color: var(--primary-text);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.social-icons a:hover {
  background-color: var(--primary-bg);
}

