.experience {
    margin-bottom: 20px;
}

.experienceHeader {
    display: flex;
    justify-content: space-between;
}

.experienceInfo {
    display: flex;
    flex-direction: column;
}

.position {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-text);
    margin: 0 0 5px 0;
}

.company {
    font-size: 20px;
    color: var(--secondary-text);
    margin: 0;
}

.dates {
    font-size: 16px;
    color: var(--primary-bg);
    margin: 0;
    font-weight: 500;
}

.experienceDescription {
    color: var(--secondary-text);
    margin-top: 10px;
}

.description {
    font-size: 16px;
    margin: 0;
}
  