.projectContainer {
    display: flex;
    margin-bottom: 25px;
}

.image {
    width: 250px;
    box-shadow: 5px 5px 15px -10px rgba(0,0,0,0.75);
    outline: 1px solid rgba(0,0,0,0.5);
}

.details {
    margin-left: 25px;
}

.title {
    margin: 0;
    font-size: 1.5rem;
}

.skills {
    margin: 5px 0 0 0;
}